vpc_cidr             = "10.0.0.0/16"
private_subnet_cidrs = ["10.0.1.0/24", "10.0.2.0/24"]
public_subnet_cidrs  = ["10.0.3.0/24", "10.0.4.0/24"]
# availability_zones      = ["us-west-2a", "us-west-2b", "us-west-2c"]

microservices = [
  "backend-service",
  "frontend-service",
  "database-service",
  "ui-service",
  "api-gateway-service"
]

cluster_name    = "eks-cluster"
cluster_version = "1.32"
node_groups = {
  general = {
    instance_types = ["t3.medium"]
    capacity_type  = "ON_DEMAND"
    scaling_config = {
      desired_size = 2
      max_size     = 4
      min_size     = 1
    }
  }
}

tags = {
  Owner   = "quentin"
  Project = "mock-project"
}

admin_ip = [
  "0.0.0.0/0"
]
